.search-container {
    display: flex;
    align-items: center; /* Центрирует элементы по вертикали */
}

.search-container input[type="text"] {
    padding: 8px 15px; /* Добавьте необходимые отступы */
    margin-bottom: 0; /* Убедитесь, что отступ снизу равен 0 */
    width: 200px; /* Задайте нужную ширину */
}


.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* Задайте нужную ширину */
}

.search-button {
    padding: 8px 15px; /* одинаковые отступы */
    border: none;
    border-radius: 4px;
    background-color: #007BFF; /* Цвет кнопки */
    color: white;
    cursor: pointer;
}


.search-button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}

.container {
    max-width: 1800px; /* Максимальная ширина для контейнера */
    margin: 0 auto; /* Центрирует контейнер на странице */
}

.bottom-menu .container {
    display: flex; /* Включаем Flexbox */
    justify-content: space-between; /* Распределяем пространство между категориями и поиском */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
}

.bottom-menu .categories a {
    font-size: 14px; /* Задайте нужный размер шрифта */
    margin-right: 15px;
}

.bottom-menu .categories a:last-child {
    margin-right: 0;
}

.bottom-menu {
    margin-top: 20px;
}