.search-container {
    display: flex;
    align-items: center; /* Центрирует элементы по вертикали */
}

.search-container input[type="text"] {
    padding: 10px 15px; /* Добавьте необходимые отступы */
    margin-bottom: 0; /* Убедитесь, что отступ снизу равен 0 */
    width: 200px; /* Задайте нужную ширину */
    border: 1px solid #ccc;
    border-radius: 4px;
}


.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* Задайте нужную ширину */
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #
}

.search-icon {
    height: 100%; /* Устанавливаем высоту изображения как у инпута */
    max-height: 42px; /* Ограничиваем максимальную высоту, чтобы соответствовать полю */
    width: auto; /* Сохраняем пропорции изображения */
    cursor: pointer; /* Изменяет указатель на руку при наведении */
}


.search-button:hover {
    background-color: #fffff; /* Цвет кнопки при наведении */
}


.bottom-menu .container {
    display: flex; /* Включаем Flexbox */
    justify-content: space-between; /* Распределяем пространство между категориями и поиском */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
}

.bottom-menu .categories a {
    font-size: 16px; /* Задайте нужный размер шрифта */
    margin-right: 15px;
}

.bottom-menu .categories a:last-child {
    margin-right: 0;
}

.bottom-menu {
    margin-top: 20px;
}