{% load static %}
<div class="bottom-menu">
    <div class="container">
        <div class="categories">
            <a href="" class="category-item" data-category="news" data-url="/news/">Новинки</a>
            <a href="#" class="category-item" data-category="clothes" data-url="/clothing/">Одежда</a>
            <a href="#" class="category-item" data-category="shoes" data-url="/shoes/">Обувь</a>
            <a href="#" class="category-item" data-category="accessories" data-url="/accessories/">Аксессуары</a>
            <a href="#" class="category-item" data-category="sale" data-url="/sale/">Sale%</a>
        </div>
        <div class="search-container">
            <input type="text" placeholder="Поиск" class="search-input">
            <a href="#" class="search-button">
                <img src="{% static 'home/images/search.png' %}" alt="Поиск" class="search-icon">
            </a>
        </div>
    </div>
    <div class="dropdown-menu" id="clothes-menu">
        <div class="container">
            <div class="menu-content">
                <div class="menu-columns">
                    <div class="menu-row">
                        <h4>Вся одежда</h4>
                        <ul>
                            <li><a href="#" data-url="pants">Брюки</a></li>
                            <li><a href="#" data-url="outerwear">Верхняя одежда</a></li>
                            <li><a href="#" data-url="jeans">Джинсы</a></li>
                        </ul>
                    </div>
                    <div class="menu-row">
                        <h4>По сезону</h4>
                        <ul>
                            <li><a href="#" data-url="season-summer">Летняя одежда</a></li>
                            <li><a href="#" data-url="season-winter">Зимняя одежда</a></li>
                            <li><a href="#" data-url="season-autumn">Осенние коллекции</a></li>
                            <li><a href="#" data-url="season-spring">Весенние коллекции</a></li>
                        </ul>
                    </div>
                    <div class="menu-row">
                        <h4>Бренды</h4>
                        <ul>
                            <li><a href="#" data-url="brand-nike">Nike</a></li>
                            <li><a href="#" data-url="brand-adidas">Adidas</a></li>
                            <li><a href="#" data-url="brand-zara">Zara</a></li>
                            <li><a href="#" data-url="brand-hm">H&M</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ad-section">
                    <a href="ссылка-на-рекламу" class="ad-banner">
                        <img src="{% static 'home/images/main_banner_2.webp' %}" alt="Рекламный баннер">
                        <div class="small-banner-text">
                            <div class="title">Маршрут построен</div>
                            <div class="description">Экипировка для трекинга</div>
                        </div>
                        <div class="ad-label">Реклама</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="dropdown-menu" id="shoes-menu">
        <div class="container">
            <div class="menu-content">
                <div class="menu-columns">
                    <div class="menu-row">
                        <h4>Вся обувь</h4>
                        <ul>
                            <li><a href="#" data-url="sneakers">Кроссовки</a></li>
                            <li><a href="#">Кеды</a></li>
                            <li><a href="#">Ботинки</a></li>
                            <li><a href="#">Туфли</a></li>
                        </ul>
                    </div>
                    <div class="menu-row">
                        <h4>По сезону</h4>
                        <ul>
                            <li><a href="#">Летняя одежда</a></li>
                            <li><a href="#">Зимняя одежда</a></li>
                            <li><a href="#">Осенние коллекции</a></li>
                            <li><a href="#">Весенние коллекции</a></li>
                        </ul>
                    </div>
                    <div class="menu-row">
                        <h4>Бренды</h4>
                        <ul>
                            <li><a href="#">Nike</a></li>
                            <li><a href="#">Adidas</a></li>
                            <li><a href="#">Zara</a></li>
                            <li><a href="#">H&M</a></li>
                        </ul>
                    </div>
                </div>
                <div class="ad-section">
                    <a href="ссылка-на-рекламу" class="ad-banner">
                        <img src="{% static 'home/images/main_banner_2.webp' %}" alt="Рекламный баннер">
                        <div class="small-banner-text">
                            <div class="title">Маршрут построен</div>
                            <div class="description">Экипировка для трекинга</div>
                        </div>
                        <div class="ad-label">Реклама</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>