{% load static %}
{% load custom_filters %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>

    <link rel="stylesheet" href="{% static 'home/css/bottom-menu.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'cart/css/confirm.css' %}">
</head>
<body>
{% include 'main_header.html' %}
<div class="container">
    {% for cart_item in cart_items %}
    <section id="cart" data-stock-id="{{ cart_item.stock.id }}">
        <article class="product">
            <header>
                <a class="remove" data-stock-id="{{ cart_item.stock.id }}">
                    <img src="{{ cart_item.stock.colors_clothing.image1.url }}" alt="">
                    <h3>Удалить</h3>
                </a>
            </header>

            <div class="content">
                <a href="{% url 'card_with_size' pk=cart_item.stock.colors_clothing.clothing.id color_id=cart_item.stock.colors_clothing.color.id size_id=cart_item.stock.size.id %}">
                    <div class="title">
                        {{ cart_item.stock.colors_clothing.clothing.category.name }}:
                        {{ cart_item.stock.colors_clothing.clothing.brand.name }}
                        {{ cart_item.stock.colors_clothing.clothing.model }}
                    </div>
                    <div class="description">
                        <div class="color-info">Цвет: {{ cart_item.stock.colors_clothing.color.name }}</div>
                        <div class="size-info">Размер: {{ cart_item.stock.size.value }}</div>
                    </div>
                </a>
            </div>


            <footer class="content">
                <span class="qt-minus" data-stock-id="{{ cart_item.stock.id }}">-</span>
                <span class="qt">{{ cart_item.quantity }}</span>
                <span class="qt-plus" data-stock-id="{{ cart_item.stock.id }}">+</span>

                <h2 class="full-price">
                    {{ cart_item.quantity|mul:cart_item.current_price|space_separator }} ₽
                </h2>

                <h2 class="price">
                    {{ cart_item.current_price|space_separator }} ₽
                </h2>
            </footer>
        </article>
    </section>
    {% endfor %}
    <div class="empty-cart" style="display: {% if cart_items %} none {% else %} block {% endif %}">
        Ваша корзина пуста
    </div>
</div>
{% if cart_items %}
<footer id="site-footer">
    <div class="container clearfix">
        <div class="right">
            <h1 class="total">Итого: <span>3 000</span>₽</h1>
            <a class="btn">Оплатить</a>
        </div>
    </div>
</footer>
{% endif %}

<div id="confirmModal" class="modal" style="display: none;">
    <div class="modal-content">
        <p>Вы уверены, что хотите удалить этот товар из корзины?</p>
        <div class="modal-buttons">
            <button id="cancelDelete">Отмена</button>
            <button id="confirmDelete">Подтвердить</button>
        </div>
    </div>
</div>


<script src="{% static 'cart/js/cart.js' %}"></script>
<script src="{% static 'home/js/view_menu.js' %}"></script>
<script src="{% static 'cardViewProduct/js/dropdown-lists.js' %}"></script>

</body>
</html>
