{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница магазина</title>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/bottom-menu.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/main-banner.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/recommendations-catalog.css' %}">
    <link rel="stylesheet" href="{% static 'magazine/css/style-card.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/promo.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/css/promo.css' %}">
    <link rel="stylesheet" href="{% static 'catalog/css/catalog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    {% include 'main_header.html' %}
    {% include 'bottom-menu.html' %}
    <div class="promo">
        <div class="container">
            <div class="promo-section">
                <div class="promo-item">
                    <img src="{% static 'catalog/images/banner_1.webp' %}" alt="Новинки одежды">
                    <div class="banner-text">
                        <div class="title">Осень в стильных новинках</div>
                        <div class="description">Коллекция O'Stin</div>
                    </div>
                    <div class="ad-label">Реклама</div> <!-- Подпись "Реклама" для первого слайда -->
                </div>
                <div class="promo-item">
                    <img src="{% static 'catalog/images/banner_2.webp' %}" alt="Новинки одежды">
                    <div class="banner-text">
                        <div class="title">Осень в стильных новинках</div>
                        <div class="description">Коллекция O'Stin</div>
                    </div>
                    <div class="ad-label">Реклама</div> <!-- Подпись "Реклама" для первого слайда -->
                </div>
                <div class="promo-item">
                    <img src="{% static 'catalog/images/banner_3.webp' %}" alt="Новинки одежды">
                    <div class="banner-text">
                        <div class="title">Осень в стильных новинках</div>
                        <div class="description">Коллекция O'Stin</div>
                    </div>
                    <div class="ad-label">Реклама</div> <!-- Подпись "Реклама" для первого слайда -->
                </div>
                <div class="promo-item">
                    <img src="{% static 'catalog/images/banner_4.webp' %}" alt="Новинки одежды">
                    <div class="banner-text">
                        <div class="title">Осень в стильных новинках</div>
                        <div class="description">Коллекция O'Stin</div>
                    </div>
                    <div class="ad-label">Реклама</div> <!-- Подпись "Реклама" для первого слайда -->
                </div>
            </div>
        </div>
    </div>
    <div class="catalog">
        <div class="container">
            <div class="category-header">
                <h3>Мужская обувь</h3>
                <span>12345 товара</span>
            </div>
            <div class="catalog-body">
                <div class="left-column">
                    <div class="category" data-category="shoes">
                        <div class="category-name">
                            Обувь
                            <div class="arrow"></div>
                        </div>
                        <div class="subcategory">
                            <ul>
                                <li data-subcategory="sneakers">Кроссовки</li>
                                <li data-subcategory="boots">Ботинки</li>
                                <li data-subcategory="sandals">Сандалии</li>
                                <li data-subcategory="boots">Сапоги</li>
                            </ul>
                        </div>
                    </div>
                    <div class="category" data-category="clothes">
                        <div class="category-name">
                            Одежда
                            <div class="arrow"></div>
                        </div>
                        <div class="subcategory">
                            <ul>
                                <li data-subcategory="sneakers">Кроссовки</li>
                                <li data-subcategory="boots">Ботинки</li>
                                <li data-subcategory="sandals">Сандалии</li>
                                <li data-subcategory="boots">Сапоги</li>
                            </ul>
                        </div>
                    </div>
                    <div class="category">
                        <div class="category-name" data-category="accessories">
                            Аксессуары
                            <div class="arrow"></div>
                        </div>
                        <div class="subcategory">
                            <ul>
                                <li data-subcategory="sneakers">Кроссовки</li>
                                <li data-subcategory="boots">Ботинки</li>
                                <li data-subcategory="sandals">Сандалии</li>
                                <li data-subcategory="boots">Сапоги</li>
                            </ul>
                        </div>
                    </div>
                    <div class="category">
                        <div class="category-name">
                            Спорт
                            <div class="arrow"></div>
                        </div>
                        <div class="subcategory">
                            <ul>
                                <li>Кроссовки</li>
                                <li>Ботинки</li>
                                <li>Сандалии</li>
                                <li>Сапоги</li>
                            </ul>
                        </div>
                    </div>
                    <div class="category">
                        <div class="category-name">
                            Спортивный инвентарь
                            <div class="arrow"></div>
                        </div>
                        <div class="subcategory">
                            <ul>
                                <li>Кроссовки</li>
                                <li>Ботинки</li>
                                <li>Сандалии</li>
                                <li>Сапоги</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Добавьте дополнительные категории по необходимости -->
                </div>
                <div class="right-column">
                    <!-- Здесь будет основной контент каталога -->
                    <div class="filter-container">
                        <button class="filter-btn" id="fmaterials">
                            Материалы
                            <span class="arrow"></span>
                        </button>
                        <div class="dropdown-content" id="fmaterials-menu">
                            <div class="filter-section">
                                <h4>Основной материал</h4>
                                <ul>
                                    {% for material in materials %}
                                    <li>
                                        <label for="material-{{ material.eng_name|lower }}">
                                            <input type="checkbox" id="material-{{ material.eng_name|lower }}"> {{ material.name }}
                                        </label>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="button-container">
                                <button class="apply-btn" disabled>Применить</button>
                            </div>
                        </div>

                        <button class="filter-btn" id="fcolor">
                            Цвет
                            <span class="arrow"></span>
                        </button>
                        <div class="dropdown-content" id="fcolor-menu">
                            <div class="filter-section">
                                <input type="text" placeholder="Поиск цвета" class="color-search">
                                <div class="color-list">
                                    <ul>
                                        {% for color in colors %}
                                        <li>
                                            <label for="color-{{ color.eng_name|lower }}">
                                                <input type="checkbox" id="color-{{ color.eng_name|lower }}">
                                                <span class="color-box" style="background-color: {{ color.eng_name|lower }};"></span> {{ color.name|capfirst  }}
                                            </label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="button-container">
                                <button class="apply-btn" disabled>Применить</button>
                            </div>
                        </div>

                        <button class="filter-btn" id="fsize">
                            Размер
                            <span class="arrow"></span>
                        </button>
                        <div class="dropdown-content" id="fsize-menu">
                            <div class="filter-section">
                                <div class="color-list">
                                    <ul>
                                        {% for size in sizes %}
                                        <li>
                                            <label for="size-{{ size.value }}">
                                                <input type="checkbox" id="size-{{ size.value }}"> {{ size.value }}
                                            </label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="button-container">
                                <button class="apply-btn" disabled>Применить</button>
                            </div>
                        </div>

                        <button class="filter-btn" id="fbrand">
                            Бренд
                            <span class="arrow"></span>
                        </button>
                        <div class="dropdown-content" id="fbrand-menu">
                            <div class="filter-section">
                                <input type="text" placeholder="Поиск бренда" class="color-search">
                                <div class="color-list">
                                    <ul>
                                        {% for brand in brands %}
                                        <li>
                                            <label for="brand-{{ brand.name }}">
                                                <input type="checkbox" id="brand-{{ brand.name }}"> {{ brand.name }}
                                            </label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="button-container">
                                <button class="apply-btn" disabled>Применить</button>
                            </div>
                        </div>

                        <button class="filter-btn" id="fprice">
                            Цена
                            <span class="arrow"></span>
                        </button>
                        <div class="dropdown-content" id="fprice-menu">
                            <div class="price-filter">
                                <div class="container">
                                    <div class="slider-track"></div>
                                    <input type="range" min="{{ min_price }}" max="{{ max_price }}" value="{{ min_price }}" id="slider-1" oninput="slideOne()">
                                    <input type="range" min="{{ min_price }}" max="{{ max_price }}" value="{{ max_price }}" id="slider-2" oninput="slideTwo()">
                                </div>
                                <div class="price-inputs">
                                    <div>
                                        <label>Мин. цена</label>
                                        <input type="number" value="{{ min_price }}" id="minPrice" oninput="updateSliderFromInput()" onblur="adjustMinPrice()">
                                    </div>
                                    <span class="priceInputsDash">—</span>
                                    <div>
                                        <label>Макс. цена</label>
                                        <input type="number" value="{{ max_price }}" id="maxPrice" oninput="updateSliderFromInput()" onblur="adjustMaxPrice()">
                                    </div>
                                </div>
                            </div>
                            <div class="button-container">
                                <button class="apply-btn" disabled>Применить</button>
                            </div>
                        </div>


                        <button class="filter-btn" id="fcountry">
                            Страна производства
                            <span class="arrow"></span>
                        </button>
                        <div class="dropdown-content" id="fcountry-menu">
                            <div class="filter-section">
                                <input type="text" placeholder="Поиск страны" class="color-search">
                                <div class="color-list">
                                    <ul>
                                        {% for country in countries %}
                                        <li>
                                            <label for="country-{{ country.eng_name }}">
                                                <input type="checkbox" id="country-{{ country.eng_name }}"> {{ country.name }}
                                            </label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="button-container">
                                <button class="apply-btn" disabled>Применить</button>
                            </div>
                        </div>

                        <button class="filter-btn" id="fdiscount">
                            Только со скидкой
                        </button>
                    </div>

                    <div class="category-products">
                        {% for clothing in clothing_items %}
                            <div class="product-card">
                            <a href="{{ clothing.url }}" class="product-image-container">
                                <img src="{{ clothing.image1.url }}" data-src="{% static 'magazine/images/test/1.webp' %}" alt="{{ clothing.model }}" class="product-image" id="main-image">
                                <img src="{{ clothing.image2.url }}" alt="{{ clothing.model }}" class="additional-images" data-index="0">
                                {% if clothing.discount %}
                                    <div class="discount-label">-{{ clothing.discount_value }}%</div>
                                {% endif %}
                                <div class="wishlist-btn"></div>
                            </a>
                            <div class="product-details">
                                {% if not clothing.discount %}
                                    <div class="current-price">{{ clothing.current_price }} ₽</div>
                                {% elif clothing.discount %}
                                    <div class="price-container">
                                        <div class="old-price">{{ clothing.old_price }}</div>
                                        <div class="new-price">{{ clothing.new_price }} ₽</div>
                                    </div>
                                {% endif %}
                                <div class="product-title">{{ clothing.brand.name }}</div>
                                <div class="product-subtitle">{{ clothing.category.name }} {{ clothing.model }}</div>
                                <div class="review-value">
                                    <span class="rating-star">★</span>
                                    <span class="rating-score">{{ clothing.avg_rating }}</span>
                                    <span class="review-count">(118)</span>
                                </div>
                                <div class="sizes">
                                    {% for size in clothing.sizes %}
                                        <a href="{{ popular_item.url }}/size/{{ size.id }}">{{ size.value }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% empty %}
                            <p>Нет доступных товаров.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'home/js/view_menu.js' %}"></script>
    <script src="{% static 'home/js/menu-condition.js' %}"></script>
    <script src="{% static 'catalog/js/category-up.js' %}"></script>
    <script src="{% static 'catalog/js/filter-buttons.js' %}"></script>
    <script src="{% static 'catalog/js/dropdownmenu-listenner.js' %}"></script>
    <script src="{% static 'catalog/js/searcher-filters.js' %}"></script>
    <script src="{% static 'catalog/js/filter-container.js' %}"></script>
    <script src="{% static 'catalog/js/price-slider.js' %}"></script>
    <script src="{% static 'catalog/js/loader-category.js' %}"></script>
    <script src="{% static 'bottom-menu/js/script.js' %}"></script>

</body>