{% load static %}
<footer>
    <div class="container" id="contacts-section">
        <div class="footer-section">
            <div class="footer-media">
                <p>
                    @store_yoshkar_ola
                </p>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-vk"></i>
                <i class="fa-brands fa-telegram"></i>
                <i class="fa-brands fa-x-twitter"></i>
            </div>

        </div>
        <div class="footer-menu">
            <div class="footer-img">
                <img src="{% static 'magazine/images/footer_img.png' %}" alt="footer-media">
            </div>
        </div>
    </div>
    <p class="time">Время работы : 10:00-22:00 Ежедневно</p>
</footer>