{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Card</title>
    <link rel="stylesheet" href="{% static 'magazine/css/style-card.css' %}">
</head>
<body>
    <div class="product-grid">
        <div class="product-card">
            <div class="product-image-container">
                <img src="{% static 'magazine/images/test/1.webp' %}" data-src="{% static 'magazine/images/test/1.webp' %}" alt="Loafers" class="product-image" id="main-image">
                <img src="{% static 'magazine/images/test/2.webp' %}" alt="Loafers" class="additional-images" data-index="0">
                <div class="discount-label">-49%</div>
                <button class="wishlist-btn">
                    <img src="{% static 'magazine/images/svg_.svg' %}" alt="Добавить в избранное" class="wishlist-icon">
                </button>
            </div>
            <div class="product-details">
                <div class="old-price">13 599 ₽</div>
                <div class="new-price">6 850 ₽</div>
                <div class="product-title">Roberto Jordiani</div>
                <div class="product-subtitle">Лоферы</div>
                <div class="additional-info">аутлет • помогаю планете</div>
                <div class="sizes">
                    <span>39</span>
                    <span>40</span>
                    <span>41</span>
                    <span>42</span>
                </div>
            </div>
        </div>
        <!-- Добавь больше карточек товара здесь -->
        <div class="product-card">
            <div class="product-image-container">
                <img src="{% static 'magazine/images/test/1.webp' %}" data-src="{% static 'magazine/images/test/1.webp' %}" alt="Loafers" class="product-image" id="main-image">
                <img src="{% static 'magazine/images/test/2.webp' %}" alt="Loafers" class="additional-images" data-index="0">
                <div class="discount-label">-49%</div>
                <button class="wishlist-btn">
                    <img src="{% static 'magazine/images/svg_.svg' %}" alt="Добавить в избранное" class="wishlist-icon">
                </button>
            </div>
            <div class="product-details">
                <div class="old-price">13 599 ₽</div>
                <div class="new-price">6 850 ₽</div>
                <div class="product-title">Roberto Jordiani</div>
                <div class="product-subtitle">Лоферы</div>
                <div class="additional-info">аутлет • помогаю планете</div>
                <div class="sizes">
                    <span>39</span>
                    <span>40</span>
                    <span>41</span>
                    <span>42</span>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image-container">
                <img src="{% static 'magazine/images/test/1.webp' %}" data-src="{% static 'magazine/images/test/1.webp' %}" alt="Loafers" class="product-image" id="main-image">
                <img src="{% static 'magazine/images/test/2.webp' %}" alt="Loafers" class="additional-images" data-index="0">
                <div class="discount-label">-49%</div>
                <button class="wishlist-btn">
                    <img src="{% static 'magazine/images/svg_.svg' %}" alt="Добавить в избранное" class="wishlist-icon">
                </button>
            </div>
            <div class="product-details">
                <div class="old-price">13 599 ₽</div>
                <div class="new-price">6 850 ₽</div>
                <div class="product-title">Roberto Jordiani</div>
                <div class="product-subtitle">Лоферы</div>
                <div class="additional-info">аутлет • помогаю планете</div>
                <div class="sizes">
                    <span>39</span>
                    <span>40</span>
                    <span>41</span>
                    <span>42</span>
                </div>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image-container">
                <img src="{% static 'magazine/images/test/1.webp' %}" data-src="{% static 'magazine/images/test/1.webp' %}" alt="Loafers" class="product-image" id="main-image">
                <img src="{% static 'magazine/images/test/2.webp' %}" alt="Loafers" class="additional-images" data-index="0">
                <div class="discount-label">-49%</div>
                <button class="wishlist-btn">
                    <img src="{% static 'magazine/images/svg_.svg' %}" alt="Добавить в избранное" class="wishlist-icon">
                </button>
            </div>
            <div class="product-details">
                <div class="old-price">13 599 ₽</div>
                <div class="new-price">6 850 ₽</div>
                <div class="product-title">Roberto Jordiani</div>
                <div class="product-subtitle">Лоферы</div>
                <div class="additional-info">аутлет • помогаю планете</div>
                <div class="sizes">
                    <span>39</span>
                    <span>40</span>
                    <span>41</span>
                    <span>42</span>
                </div>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image-container">
                <img src="{% static 'magazine/images/test/1.webp' %}" data-src="{% static 'magazine/images/test/1.webp' %}" alt="Loafers" class="product-image" id="main-image">
                <img src="{% static 'magazine/images/test/2.webp' %}" alt="Loafers" class="additional-images" data-index="0">
                <div class="discount-label">-49%</div>
                <button class="wishlist-btn">
                    <img src="{% static 'magazine/images/svg_.svg' %}" alt="Добавить в избранное" class="wishlist-icon">
                </button>
            </div>
            <div class="product-details">
                <div class="old-price">13 599 ₽</div>
                <div class="new-price">6 850 ₽</div>
                <div class="product-title">Roberto Jordiani</div>
                <div class="product-subtitle">Лоферы</div>
                <div class="additional-info">аутлет • помогаю планете</div>
                <div class="sizes">
                    <span>39</span>
                    <span>40</span>
                    <span>41</span>
                    <span>42</span>
                </div>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image-container">
                <img src="{% static 'magazine/images/test/1.webp' %}" data-src="{% static 'magazine/images/test/1.webp' %}" alt="Loafers" class="product-image" id="main-image">
                <img src="{% static 'magazine/images/test/2.webp' %}" alt="Loafers" class="additional-images" data-index="0">
                <div class="discount-label">-49%</div>
                <button class="wishlist-btn">
                    <img src="{% static 'magazine/images/svg_.svg' %}" alt="Добавить в избранное" class="wishlist-icon">
                </button>
            </div>
            <div class="product-details">
                <div class="old-price">13 599 ₽</div>
                <div class="new-price">6 850 ₽</div>
                <div class="product-title">Roberto Jordiani</div>
                <div class="product-subtitle">Лоферы</div>
                <div class="additional-info">аутлет • помогаю планете</div>
                <div class="sizes">
                    <span>39</span>
                    <span>40</span>
                    <span>41</span>
                    <span>42</span>
                </div>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image-container">
                <img src="{% static 'magazine/images/test/1.webp' %}" data-src="{% static 'magazine/images/test/1.webp' %}" alt="Loafers" class="product-image" id="main-image">
                <img src="{% static 'magazine/images/test/2.webp' %}" alt="Loafers" class="additional-images" data-index="0">
                <div class="discount-label">-49%</div>
                <button class="wishlist-btn">
                    <img src="{% static 'magazine/images/svg_.svg' %}" alt="Добавить в избранное" class="wishlist-icon">
                </button>
            </div>
            <div class="product-details">
                <div class="old-price">13 599 ₽</div>
                <div class="new-price">6 850 ₽</div>
                <div class="product-title">Roberto Jordiani</div>
                <div class="product-subtitle">Лоферы</div>
                <div class="additional-info">аутлет • помогаю планете</div>
                <div class="sizes">
                    <span>39</span>
                    <span>40</span>
                    <span>41</span>
                    <span>42</span>
                </div>
            </div>
        </div>

        <div class="product-card">
            <div class="product-image-container">
                <img src="{% static 'magazine/images/test/1.webp' %}" data-src="{% static 'magazine/images/test/1.webp' %}" alt="Loafers" class="product-image" id="main-image">
                <img src="{% static 'magazine/images/test/2.webp' %}" alt="Loafers" class="additional-images" data-index="0">
                <div class="discount-label">-49%</div>
                <button class="wishlist-btn">
                    <img src="{% static 'magazine/images/svg_.svg' %}" alt="Добавить в избранное" class="wishlist-icon">
                </button>
            </div>
            <div class="product-details">
                <div class="old-price">13 599 ₽</div>
                <div class="new-price">6 850 ₽</div>
                <div class="product-title">Roberto Jordiani</div>
                <div class="product-subtitle">Лоферы</div>
                <div class="additional-info">аутлет • помогаю планете</div>
                <div class="sizes">
                    <span>39</span>
                    <span>40</span>
                    <span>41</span>
                    <span>42</span>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'magazine/js/view_image.js' %}"></script>
</body>
</html>
