.category-header {
    display: flex;              /* Включаем flexbox */
    align-items: flex-end;     /* Выравниваем элементы по нижнему краю */
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    font-size: 24px;           /* Размер шрифта для заголовка */
    margin: 0;                 /* Убираем отступы по умолчанию */
    padding-bottom: 0px;       /* Увеличиваем пространство между заголовком и количеством товаров */
}


span {
    font-size: 16px;           /* Размер шрифта для количества товаров */
    color: #888;               /* Цвет текста */
    margin-left: 10px;         /* Отступ слева для расстояния между заголовком и количеством товаров */
    padding-bottom: 2px;
}

.catalog-body {
    display: flex;              /* Используем flexbox для расположения левого столбца и основного контента */
}

.left-column {
    width: 20%;              /* Ширина левого столбца */
    box-sizing: border-box; /* Учитываем padding и border в ширине */

}

.right-column {
    width: 80%; /* 80% для основного контента */
    margin-left: 20px;
    box-sizing: border-box; /* Учитываем padding и border */

}

.main-content {
    flex: 1;                   /* Основной контент займет оставшееся пространство */
    padding: 15px;             /* Отступы внутри основного контента */
}



.category {
    margin-bottom: 8px;       /* Отступ между категориями */
}

.category-name {
    cursor: pointer;           /* Указатель при наведении для раскрытия подкатегорий */
    font-size: 18px;
    text-align: left;
    border-radius: 3px;
    padding: 5px;
    position: relative; /* для позиционирования псевдоэлемента */
    display: flex; /* добавлено для выравнивания текста и иконки */
    align-items: center; /* выравнивание по вертикали */
    justify-content: space-between; /* выравнивание текста и иконки по краям */
    font-weight: bold;
}

.category-name:hover {
    background: #e6e8e8;
}

.arrow {
    background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns%3D%27http%3A//www.w3.org/2000/svg%27 width%3D%2716%27 height%3D%2716%27%3E%3Cg fill%3D%27none%27 fill-rule%3D%27evenodd%27%3E%3Cpath d%3D%27M0 16h16V0H0z%27 opacity%3D%27.098%27/%3E%3Cpath stroke%3D%27%23000%27 d%3D%27M2 6l6 5 6-5%27/%3E%3C/g%3E%3C/svg%3E');
    background-size: contain; /* Установка фона в соответствии с размером */
    background-repeat: no-repeat; /* Избегаем повторения фона */
    width: 18px; /* Ширина элемента */
    height: 16px; /* Высота элемента */
    opacity: 0; /* Изначально скрываем иконку */
    transition: opacity 0.3s ease; /* Плавная анимация появления */
}

.arrow.white {
    background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns%3D%27http%3A//www.w3.org/2000/svg%27 width%3D%2716%27 height%3D%2716%27%3E%3Cg fill%3D%27none%27 fill-rule%3D%27evenodd%27%3E%3Cpath d%3D%27M0 16h16V0H0z%27 opacity%3D%27.098%27/%3E%3Cpath stroke%3D%27%23FFF%27 d%3D%27M2 6l6 5 6-5%27/%3E%3C/g%3E%3C/svg%3E'); /* Белая иконка */
}


.category:hover .arrow {
    opacity: 1; /* Показываем иконку при наведении */
}


.subcategory {
    padding-top: 8px; /* Отступ сверху для всей сабкатегории (опционально) */
    opacity: 0; /* Начальное состояние - скрыто */
    max-height: 0; /* Начальная максимальная высота - 0 */
    overflow: hidden; /* Скрываем переполнение */
    transition: opacity 0.2s ease, max-height 0.2s ease; /* Плавная анимация */
}

.subcategory.active {
    opacity: 1; /* Изменение на видимое состояние */
    max-height: auto; /* Установите значение, которое соответствует максимальной высоте ваших элементов */
}

.subcategory li {
    margin-bottom: 8px; /* Отступ между сабкатегориями */
    opacity: 0; /* Начальное состояние - скрыто */
    transform: translateY(10px); /* Сдвигаем вниз для эффекта появления */
    transition: opacity 0.2s ease, transform 0.2s ease; /* Плавная анимация */
}

.subcategory.active li {
    opacity: 1; /* Изменение на видимое состояние */
    transform: translateY(0); /* Возвращаем на место */
}

.subcategory ul li {
    margin-bottom: 8px;
}

.subcategory ul li:first-child {
    margin-top: 8px
}

.subcategory ul li {
    list-style: none;
    cursor: pointer;           /* Указатель при наведении для раскрытия подкатегорий */
    font-size: 16px;
    text-align: left;
    border-radius: 3px;
    padding: 5px;
}

.subcategory ul li:hover {
    background: #e6e8e8;
}

.category-title:hover {
    color: #007BFF;            /* Цвет при наведении */
}

/* Стили для раскрытия подкатегорий при клике */
.category.active .subcategory {
    display: block;            /* Показываем подкатегории при активации */
}
.category.active .category-name {
    background-color: black; /* Черный фон при активном состоянии */
    color: white;
}

.category-name.active .arrow {
    stroke: white;
}

/**************************************************************************************/


.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.filter-btn {
  position: relative; /* Чтобы иконка позиционировалась внутри кнопки */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Это выровняет текст слева, и иконку справа */
  padding: 10px 15px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.filter-btn .arrow {
  margin-left: 10px; /* Отступ между текстом и иконкой */
  opacity: 1;
}

.filter-btn:hover {
  border: 1px solid #1a1919;
}

.category-products {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    gap: 10px; /* Отступы между карточками */
    justify-content: flex-start; /* Выравнивание карточек по левому краю */

}

.category-products .product-card {
    flex: 0 0 calc((100% - 5 * 10px) / 4); /* Ширина каждой карточки для 6 карточек с учетом отступов */
    margin: 0; /* Обнуляем внешние отступы карточек, так как мы используем gap */
}

.category-products .review-value .rating-star {
    font-size: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.category-products .review-value .rating-score {
    font-size: 14px;
}

.category-products .review-value .review-count {
    font-size: 14px;
    margin-left: 2px;
}