.category-header {
    display: flex;              /* Включаем flexbox */
    align-items: flex-end;     /* Выравниваем элементы по нижнему краю */
    margin-top: 30px;
}

h3 {
    font-size: 24px;           /* Размер шрифта для заголовка */
    margin: 0;                 /* Убираем отступы по умолчанию */
    padding-bottom: 0px;       /* Увеличиваем пространство между заголовком и количеством товаров */
}


span {
    font-size: 16px;           /* Размер шрифта для количества товаров */
    color: #888;               /* Цвет текста */
    margin-left: 10px;         /* Отступ слева для расстояния между заголовком и количеством товаров */
    padding-bottom: 2px;
}
