.product-card-view {
    margin-top: 50px; /* Отступ сверху для карточки продукта */
}

.column-layout {
    display: flex;
}

.product-gallery {
    flex: 0 0 80%; /* Задаем ширину первого столбца в 70% */
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    margin-right: 40px;
}

.gallery-row {
    display: grid;
    grid-gap: 10px;
}

.gallery-row:first-child {
    grid-template-columns: repeat(2, 1fr);
}

.gallery-row:last-child {
    grid-template-columns: repeat(3, 1fr);
}

img {
    max-width: 100%; /* Ограничиваем ширину изображений */
    height: auto; /* Высота автоматически подстраивается */
}

.product-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступ между блоками информации */
}


.brand {
    margin-top: 10px;
    font-size: 24px;
}

.model {
    font-size: 16px;
    color: #999;
}

.size-selection select {
    padding: 5px;
    font-size: 14px;
}

.price-info {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.price-info .old-price {
    font-size: 20px;
    color: #000;
}

.price-info .new-price {
    font-size: 20px;
    font-weight: normal;
}


.price-info .discount-label {
    position: static;
    padding: 5px;
}
/*****************************************************************/

.rating {
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;
}

.rating__body {
    position: relative;
}

.rating__body::before {
    content: "★★★★★";
    display: block;
    color: #999;
    font-size: 20px;
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%
    top: 0;
    left: 0;
}

.rating__active {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active:before {
    content: "★★★★★";
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    left: 0;
    color: #000;
    font-size: 20px;
}

.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;

}

.rating__value {
    font-size: 50%;
    padding: 0px 0px 0px 10px;
}

.count__feedback {
    padding-left: 10px;
    color: #999;
}


/*******************************************/

.size-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.color-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.size-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    width: 100%;
    color: #999;
}

.size-button .arrow {
    opacity: 1;
    flex-shrink: 0; /* Не позволяет стрелке сжиматься */
    cursor: pointer; /* Указываем курсор как указатель */
}

.color-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    width: 100%;
    color: #999;
}

.color-button .arrow {
    opacity: 1;
    flex-shrink: 0; /* Не позволяет стрелке сжиматься */
    cursor: pointer; /* Указываем курсор как указатель */
}


.size-list {
    display: none; /* Скрываем список по умолчанию */
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    list-style-type: none;
    padding: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
}

.size-list li {
    padding: 10px;
    cursor: pointer;
}

.size-list li:hover {
    background-color: #f0f0f0;
}

.color-dropdown .color-list {
    display: none; /* Скрываем список по умолчанию */
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    list-style-type: none;
    padding: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin: 0px;
    margin-top: 5px;
}

.color-dropdown .color-list li {
    padding: 10px;
    cursor: pointer;
}

.color-dropdown .color-list li:hover {
    background-color: #f0f0f0;
}

/******************************************************************/

.cart-add-button {
    width: 100%;
    background-color: #000;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 15px;
}


.cart-add {
    margin-top: 15px;
}

.selected-color {
    background-color: #999; /* Цвет фона для выделенного элемента */
    font-weight: bold; /* Увеличивает жирность шрифта для выделенного элемента */
    cursor: default !important;
}

.color-dropdown .color-list .selected-color:hover {
    background-color: #999;
}

.error-message {
    margin-bottom: 10px;
}